APP_ENV="local"
INTEGRATION_MODE="mock"
DRY_RUN="true"
EXPOSE_DOCS="true"
EXPOSE_DEBUG_ERRORS="true"

INBOUND_API_KEY=""

ORDER_BUSINESS_API_BASE_URL=""
ORDER_BUSINESS_API_USER=""
ORDER_BUSINESS_API_PASSWORD=""
ORDER_BUSINESS_API_SECRET_KEY=""
ORDER_BUSINESS_API_AUTH_MODE="basic_query_secret"
ORDER_BUSINESS_API_SECRET_PARAM="secret_key"

FRESHDESK_BASE_URL=""
FRESHDESK_API_KEY=""

ORDER_MANAGEMENT_BASE_URL="https://ds.utires.com/order_management/#order="
